<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  CTA as CallToAction,
  CopyMedia,
  Copy,
  PullQuote,
  Benefits,
  NextStep,
} from '../../../components/common/index.vue';
import {
  FeatureShowcase as PartnersFeatureShowcase,
  PartnersCTA as PartnersCallToAction,
} from '../../../components/partners/index.vue';
import {
  SolutionsHero,
  SolutionsResourceCards,
} from '~/components/solutions/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    CallToAction,
    PartnersCallToAction,
    PartnersFeatureShowcase,
    CopyMedia,
    Copy,
    PullQuote,
    Benefits,
    SolutionsHero,
    NextStep,
    SolutionsResourceCards,
  },
  nuxtI18n: false,
  async asyncData({ $content, params, error }: any) {
    try {
      const partner = await $content(
        `partners/technology-partners/${params.partner}`,
      ).fetch();
      return { partner };
    } catch (e) {
      error({ statusCode: 404 });
      return {};
    }
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).partner, this.$route.path);
  },
});
</script>

<template>
  <div>
    <SlpContainer
      v-for="component in partner.components"
      :key="component.name"
      :variant="component.container_variant"
      :class="component.container_class"
    >
      <component :is="component.name" :data="component.data" />
    </SlpContainer>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
