<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'TeamOpsLogo',
});
</script>
<template>
  <div class="team-ops-logo">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      data-name="Layer 1"
      viewBox="0 0 179 36"
    >
      <defs />
      <path
        d="M.9 5.73V1.87h20.31v3.87h-7.87v21.58H8.77V5.73H.9ZM29.01 27.69c-1.91 0-3.57-.4-4.95-1.2s-2.46-1.93-3.2-3.41c-.75-1.47-1.12-3.2-1.12-5.2s.38-3.69 1.12-5.18 1.8-2.65 3.15-3.48c1.35-.83 2.94-1.25 4.76-1.25 1.18 0 2.29.19 3.34.57 1.05.38 1.98.96 2.78 1.75s1.44 1.79 1.91 3 .7 2.66.7 4.33V19H21.85v-3.03h11.33c0-.86-.19-1.63-.56-2.31-.36-.67-.87-1.21-1.52-1.6s-1.41-.58-2.27-.58c-.92 0-1.73.22-2.42.67-.7.44-1.24 1.02-1.62 1.74-.39.72-.58 1.5-.59 2.36v2.65c0 1.11.2 2.06.61 2.85s.97 1.4 1.7 1.81c.73.42 1.58.63 2.56.63.66 0 1.25-.09 1.78-.28s.99-.46 1.38-.83.68-.82.88-1.35l4.2.47c-.27 1.11-.77 2.08-1.51 2.9-.74.83-1.69 1.46-2.84 1.91-1.15.45-2.47.68-3.95.68ZM45.22 27.71c-1.21 0-2.3-.22-3.26-.65-.97-.43-1.73-1.08-2.29-1.93s-.84-1.91-.84-3.16c0-1.08.2-1.97.6-2.67s.94-1.27 1.63-1.69c.69-.42 1.46-.74 2.33-.96.87-.22 1.76-.38 2.69-.48 1.12-.12 2.03-.22 2.72-.32.7-.09 1.2-.24 1.52-.45.32-.2.48-.52.48-.95v-.08c0-.94-.28-1.66-.83-2.17-.56-.51-1.36-.77-2.4-.77-1.1 0-1.97.24-2.62.72s-1.08 1.05-1.3 1.7l-4.2-.6c.33-1.16.88-2.13 1.64-2.92.76-.78 1.69-1.37 2.8-1.76 1.1-.39 2.32-.59 3.65-.59.92 0 1.83.11 2.75.32.91.22 1.74.57 2.5 1.06.75.49 1.36 1.16 1.82 2.01.46.84.69 1.9.69 3.17v12.78h-4.33V24.7h-.15c-.27.53-.66 1.03-1.15 1.48-.49.46-1.11.83-1.85 1.11s-1.61.42-2.6.42Zm1.17-3.31c.9 0 1.69-.18 2.35-.54.66-.36 1.17-.84 1.53-1.44.36-.6.54-1.25.54-1.95v-2.25c-.14.12-.38.22-.71.32-.33.1-.71.19-1.12.26-.41.07-.82.14-1.23.2-.41.06-.76.11-1.06.15-.67.09-1.27.24-1.8.45-.53.21-.95.5-1.25.86-.31.37-.46.84-.46 1.42 0 .83.3 1.45.91 1.88.6.42 1.38.63 2.31.63ZM58.26 27.32V8.23h4.3v3.24h.22c.4-1.09 1.06-1.95 1.98-2.57.92-.62 2.02-.93 3.29-.93s2.38.31 3.28.94c.89.63 1.52 1.48 1.88 2.55h.2c.42-1.06 1.14-1.91 2.14-2.54s2.2-.95 3.59-.95c1.76 0 3.19.56 4.3 1.67s1.67 2.73 1.67 4.86v12.81H80.6V15.2c0-1.18-.31-2.05-.94-2.6-.63-.55-1.4-.83-2.31-.83-1.09 0-1.93.34-2.54 1.01-.61.68-.91 1.55-.91 2.63v11.91h-4.41v-12.3c0-.99-.3-1.77-.89-2.36-.59-.59-1.37-.88-2.32-.88-.65 0-1.24.16-1.77.49s-.95.79-1.27 1.38c-.31.59-.47 1.28-.47 2.07v11.61h-4.5ZM111.05 14.59c0 2.74-.51 5.09-1.54 7.04s-2.42 3.45-4.18 4.48c-1.76 1.04-3.76 1.55-5.99 1.55s-4.22-.52-5.98-1.56-3.15-2.54-4.18-4.49c-1.02-1.95-1.54-4.29-1.54-7.03s.51-5.09 1.54-7.04 2.42-3.44 4.18-4.48c1.76-1.04 3.76-1.55 5.98-1.55s4.22.52 5.99 1.55c1.76 1.04 3.15 2.53 4.18 4.48s1.54 4.3 1.54 7.04Zm-4.64 0c0-1.93-.3-3.56-.9-4.89s-1.43-2.34-2.49-3.02-2.28-1.03-3.67-1.03-2.61.34-3.67 1.03-1.89 1.69-2.49 3.02-.9 2.96-.9 4.89.3 3.56.9 4.89c.6 1.33 1.43 2.34 2.49 3.02s2.28 1.03 3.67 1.03 2.61-.34 3.67-1.03 1.89-1.69 2.49-3.02c.6-1.33.9-2.96.9-4.89ZM113.65 34.48V8.23h4.42v3.16h.26c.23-.46.56-.96.98-1.49s.99-.98 1.71-1.36c.72-.38 1.64-.57 2.76-.57 1.47 0 2.81.38 4 1.12 1.19.75 2.13 1.86 2.83 3.32.7 1.46 1.05 3.25 1.05 5.38s-.34 3.88-1.03 5.34c-.69 1.47-1.62 2.58-2.81 3.36s-2.53 1.16-4.03 1.16c-1.09 0-2-.18-2.72-.55-.72-.37-1.3-.81-1.73-1.32a8.09 8.09 0 0 1-1.01-1.47h-.19v10.17h-4.5Zm4.41-16.71c0 1.24.18 2.32.53 3.24.35.93.86 1.65 1.53 2.17s1.48.78 2.43.78 1.83-.27 2.5-.8c.67-.54 1.18-1.27 1.52-2.2s.52-2 .52-3.19-.17-2.24-.51-3.16c-.34-.92-.85-1.64-1.52-2.16-.67-.52-1.51-.78-2.51-.78s-1.78.25-2.45.76c-.67.5-1.18 1.21-1.52 2.12-.34.91-.52 1.98-.52 3.22ZM149.03 13.28l-4.1.45c-.12-.41-.32-.8-.6-1.17s-.67-.66-1.15-.88c-.48-.22-1.07-.33-1.77-.33-.94 0-1.72.2-2.35.61-.63.41-.95.93-.94 1.58 0 .55.2 1.01.62 1.35.42.35 1.11.63 2.08.86l3.26.7c1.81.39 3.15 1.01 4.03 1.85.88.85 1.33 1.95 1.34 3.32 0 1.2-.36 2.26-1.05 3.18-.69.92-1.65 1.63-2.88 2.14-1.23.51-2.63.77-4.23.77-2.34 0-4.22-.49-5.64-1.47-1.43-.98-2.27-2.35-2.55-4.11l4.39-.42c.2.86.62 1.51 1.27 1.95s1.49.66 2.52.66 1.93-.22 2.58-.66.98-.98.98-1.63c0-.55-.21-1-.63-1.35-.42-.36-1.07-.63-1.95-.82l-3.26-.68c-1.83-.38-3.19-1.03-4.06-1.93-.88-.91-1.31-2.06-1.3-3.45 0-1.18.31-2.2.96-3.06s1.56-1.54 2.72-2.01 2.51-.71 4.03-.71c2.24 0 4 .48 5.29 1.43s2.09 2.24 2.39 3.87Z"
        class="cls-1"
      />
      <g>
        <circle cx="161.68" cy="5.6" r="4.08" class="cls-1" />
        <circle cx="161.68" cy="23.59" r="4.08" class="cls-1" />
        <circle cx="173.88" cy="14.59" r="4.22" class="cls-1" />
      </g>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
@import 'assets/css/animations';
.team-ops-logo {
  color: white;
  height: $spacing-32;
  svg {
    fill: currentColor;
    height: 100%;
  }
}
</style>
