<script>
export default {
  name: 'TableLegend',
};
</script>

<template>
  <div class="footer">
    <div class="legend">
      <SlpTypography tag="p" variant="body2">
        Feature maturity key:
      </SlpTypography>
      <div>
        <SlpTypography
          id="mature-feature"
          tag="span"
          class="mature"
          variant="body3-bold"
          >Mature</SlpTypography
        ><SlpTypography
          id="early-feature"
          tag="span"
          class="early"
          variant="body3-bold"
          >Early</SlpTypography
        ><SlpTypography
          id="mature-feature"
          tag="span"
          class="planned"
          variant="body3-bold"
          >Planned</SlpTypography
        >
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.legend {
  text-align: right;
  margin-top: $spacing-32;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: $breakpoint-md) {
    text-align: left;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    p {
      margin-bottom: $spacing-8;
    }
  }

  .mature,
  .early,
  .planned {
    border: 1px solid $color-surface-50;
    border-radius: 8px;
    padding: $spacing-4 $spacing-24;
    font-size: 13px;
  }
  .mature {
    margin-left: $spacing-16;

    @media (max-width: $breakpoint-md) {
      margin-left: 0;
    }
  }
  .early {
    margin: 0 $spacing-16;
  }
}
</style>
