<script lang="ts">
import Vue from 'vue';
import SurveyQuote from './survey-quote.vue';
import ColumnGroup from './column-group.vue';
import SurveyHero from './survey-hero.vue';
import StatsGrid from './stats-grid.vue';
import SurveyStatBarsSection from './survey-stat-bars-section.vue';
import SurveyBanner from './survey-banner.vue';
import SurveyGlowPills from './survey-glow-pills.vue';
import SurveyQuoteCarousel from './survey-quote-carousel.vue';
import SurveyRegionBubbles from './survey-region-bubbles.vue';
import SurveyRoleBubbles from './survey-role-bubbles.vue';
import { SolutionsHero } from '~/components/solutions';

export default Vue.extend({
  name: 'SurveyTabs',
  components: {
    SolutionsHero,
    ColumnGroup,
    SurveyQuote,
    SurveyHero,
    StatsGrid,
    SurveyStatBarsSection,
    SurveyGlowPills,
    SurveyBanner,
    SurveyQuoteCarousel,
    SurveyRegionBubbles,
    SurveyRoleBubbles,
  },
  props: {
    data: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      tabs: [],
      firstTab: null,
      lastTab: null,
      tabpanels: [],
      selectedTab: 0,
    };
  },
  methods: {
    onTabChange(value: number) {
      this.selectedTab = value;
    },
  },
});
</script>

<template>
  <section class="survey-tabs">
    <div class="survey-tabs__wrapper">
      <SlpContainer v-if="data.length > 1">
        <div
          class="survey-tabs__tabs"
          role="tablist"
          aria-labelledby="tablist-1"
        >
          <button
            v-for="(tab, tabIndex) in data"
            :id="`tab-${tabIndex}`"
            :key="tab.header"
            ref="tab"
            type="button"
            role="tab"
            :disabled="tab.disabled"
            aria-selected="true"
            :aria-controls="`tabpanel-${tabIndex}`"
            class="survey-tabs__tab"
            :class="selectedTab == tabIndex ? 'survey-tabs__tab--active' : ''"
            @click="onTabChange(tabIndex)"
          >
            <SlpTypography variant="body1-bold" tag="p">
              <span>Report {{ tabIndex + 1 }}</span>
              {{ tab.header }}
            </SlpTypography>
          </button>
        </div>
      </SlpContainer>

      <div
        v-for="(tabContent, tabContentIndex) in data"
        v-show="tabContentIndex === selectedTab"
        :id="`tabpanel-${tabContentIndex}`"
        :key="`tab-content-${tabContentIndex}`"
        role="tabpanel"
        tabindex="0"
        :aria-labelledby="`tab-${tabContentIndex}`"
      >
        <component
          :is="component.name"
          v-for="(component, index) in tabContent.components"
          :key="component.name + `-${index}`"
          class="survey-tabs__section"
          :class="component.data.variant"
          :data="component.data"
        />
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.survey-tabs {
  &__tab {
    color: $color-secondary-300;
    border: none;
    cursor: pointer;
    padding: $spacing-24;
    text-align: left;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      width: 25%;
    }

    &:hover {
      background-color: rgba(103, 207, 183, 0.3);
      &:first-of-type {
        border-radius: 8px 0 0 8px;
      }
    }

    &--active {
      background-color: #67cfb7;
      &:first-of-type {
        border-radius: 8px 8px 0 0;

        @media (min-width: $breakpoint-md) {
          border-radius: 8px 0 0 8px;
        }
      }
    }

    span {
      font-family: 'Jet Brains Mono', sans-serif;
      font-size: 14px;
      font-weight: 500;
      display: block;
    }

    &:disabled {
      pointer-events: none;
      color: $color-surface-500;
    }
  }
  &__section {
    margin-top: $spacing-64;
    &:last-of-type {
      padding-bottom: $spacing-32;
    }
  }
  &__tabs {
    background-color: $color-primary-300;
    border-radius: 8px;
    box-shadow: 0px 0px 32px rgba(90, 213, 176, 0.3);
    flex-direction: column;
    z-index: 10;
    position: relative;
    margin-bottom: 58px;

    @media (min-width: $breakpoint-sm) {
      display: flex;
    }
    @media (min-width: $breakpoint-md) {
      display: flex;
      flex-direction: initial;
    }
    @media (min-width: $breakpoint-lg) {
      display: block;
    }
  }
}
</style>
