<script lang="ts">
import Vue from 'vue';
import { getPageMetadata } from '../../common/meta';
import { NextStep } from '../../components/common/index.vue';
import {
  Conduct,
  LightningHero,
  SpeakerSession,
  Section,
  SectionReverse,
  Intro,
} from '../../components/events/index.vue';

export default Vue.extend({
  components: {
    NextStep,
    Conduct,
    LightningHero,
    SpeakerSession,
    Intro,
    Section,
    SectionReverse,
  },
  nuxtI18n: false,
  async asyncData({ $content, params }: any) {
    const content = await $content(
      'events/google-cloud-next',
      params.slug,
    ).fetch();
    return { content };
  },
  head() {
    return getPageMetadata((this as any).content.metadata, this.$route.path);
  },
});
</script>

<template>
  <div>
    <LightningHero :data="content.hero" :dark-mode="true" centered />
    <Intro :data="content.intro" />
    <Section style="padding-top: 96px" :data="content.gitlab_booth" />
    <SectionReverse style="padding-top: 96px" :data="content.gitlab_popup" />
    <Section
      style="padding-top: 96px"
      :data="content.gitlab_popup_registration"
    />
    <SectionReverse
      style="padding-top: 96px"
      :data="content.gitlab_breakfast_registration"
    />
    <SpeakerSession :data="content.speaker_session" />
    <SpeakerSession :data="content.speaker_session_other" />
    <Conduct />
    <NextStep />
  </div>
</template>
