<script lang="ts">
import Vue from 'vue';
import InlineBanner from './inline-banner.vue';

export default Vue.extend({
  components: {
    InlineBanner,
  },
  props: {
    caseStudiesList: {
      type: Object,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
    urlQuery: {
      type: Object,
      required: false,
      default: () => ({}),
    },
  },
  data: () => ({
    selectedSize: 'Company size',
    selectedIndustry: 'Industry',
    selectedRegion: 'Region',
    numberOfSelectedItems: 18,
  }),

  computed: {
    itemsToRender() {
      const filteredCaseStudies = this.caseStudiesList.case_studies.filter(
        (item: any) => {
          let filtered = true;
          if (
            this.selectedSize !== '' &&
            this.selectedSize !== 'Company size'
          ) {
            filtered = item.companySize === this.selectedSize;
          }
          if (filtered) {
            if (
              this.selectedIndustry !== '' &&
              this.selectedIndustry !== 'Industry'
            ) {
              filtered = item.industry.includes(this.selectedIndustry);
            }
          }
          if (filtered) {
            if (
              this.selectedRegion !== '' &&
              this.selectedRegion !== 'Region'
            ) {
              filtered = item.region === this.selectedRegion;
            }
          }
          return filtered;
        },
      );
      return {
        totalItems: filteredCaseStudies.length,
        beforeBanner: filteredCaseStudies.slice(0, 9),
        afterBanner: filteredCaseStudies.slice(9, this.numberOfSelectedItems),
      };
    },
    hasMore() {
      return this.numberOfSelectedItems < this.itemsToRender.totalItems;
    },
  },
  watch: {
    selectedSize() {
      this.pushDataLayer('Size', this.selectedSize);
    },
    selectedIndustry() {
      this.pushDataLayer('Industry', this.selectedIndustry);
    },
    selectedRegion() {
      this.pushDataLayer('Region', this.selectedRegion);
    },
  },
  created() {
    const sizes = {
      'small-business': 'Small to medium business (0 - 100)',
      'mid-market': 'Mid-market (101 - 2000)',
      enterprise: 'Enterprise (2001+)',
    };
    const industries = {
      education: 'Education',
      'financial-services': 'Financial services',
      'open-source': 'Open source software',
      'public-sector': 'Public sector',
      retail: 'Retail',
      technology: 'Technology',
      healthcare: 'Healthcare',
    };
    const regions = {
      'europe-middle-east-africa': 'Europe, the middle east, and africa',
      'north-america': 'North america',
      'latin-america': 'Latin america',
      'asia-pacific': 'Asia pacific',
    };
    if (this.urlQuery.companySize) {
      this.selectedSize = sizes[this.urlQuery.companySize];
    }
    if (this.urlQuery.industry) {
      this.selectedIndustry = industries[this.urlQuery.industry];
    }
    if (this.urlQuery.region) {
      this.selectedRegion = regions[this.urlQuery.region];
    }
  },

  methods: {
    pushDataLayer(filterName: string, selectedValue: string) {
      window.dataLayer = window.dataLayer || [];

      window.dataLayer.push({
        event: 'customersFilterSelect',
        customersFilter: filterName,
        customersSelect: selectedValue,
      });
    },
  },
});
</script>

<template>
  <SlpContainer>
    <div class="dropdowns">
      <div class="dropdown-container">
        <SlpDropdown
          v-model="selectedSize"
          name="size"
          :value="data.company_sizes[0]"
          :options="data.company_sizes"
        />
      </div>
      <div class="dropdown-container">
        <SlpDropdown
          v-model="selectedIndustry"
          name="industry"
          :value="data.industries[0]"
          :options="data.industries"
        />
      </div>
      <div class="dropdown-container">
        <SlpDropdown
          v-model="selectedRegion"
          name="region"
          :value="data.regions[0]"
          :options="data.regions"
        />
      </div>
    </div>
    <SlpRow v-if="itemsToRender.totalItems === 0">
      <SlpColumn>
        <SlpTypography tag="p" variant="body2">
          Sorry, that filter combination has no results. Try again or reset
          filters to "all".
        </SlpTypography>
      </SlpColumn>
    </SlpRow>
    <SlpRow>
      <SlpColumn
        v-for="item in itemsToRender.beforeBanner"
        :key="item.title"
        :cols="4"
      >
        <SlpCard100
          :link="item.url"
          :data-ga-name="item.title"
          data-ga-location="body"
          class="card slp-mb-lg-32"
        >
          <nuxt-img
            loading="lazy"
            alt=""
            :src="item.img_url"
            class="slp-mb-16"
            style="width: 100%; height: 218px; object-fit: cover"
          />
          <SlpTypography tag="h2" variant="heading4-bold" class="slp-mb-16">{{
            item.title
          }}</SlpTypography>
          <SlpTypography tag="p" variant="body1" class="slp-mb-32">
            {{ item.description }}
          </SlpTypography>
          <SlpButton variant="tertiary">
            Read story <SlpIcon name="chevron-lg-right" variant="product" />
          </SlpButton>
        </SlpCard100>
      </SlpColumn>
    </SlpRow>
    <InlineBanner
      :href="data.inline_banner.href"
      :link-text="data.inline_banner.link_text"
    />
    <SlpRow>
      <SlpColumn
        v-for="item in itemsToRender.afterBanner"
        :key="item.title"
        :cols="4"
      >
        <SlpCard100
          :link="item.url"
          :data-ga-name="item.title"
          data-ga-location="body"
          class="card slp-mb-lg-32"
        >
          <nuxt-img
            loading="lazy"
            :src="item.img_url"
            alt=""
            class="slp-mb-16"
            style="width: 100%; height: 218px; object-fit: cover"
          />
          <SlpTypography tag="h2" variant="heading4-bold" class="slp-mb-16">{{
            item.title
          }}</SlpTypography>
          <SlpTypography tag="p" variant="body1" class="slp-mb-32">
            {{ item.description }}
          </SlpTypography>
          <SlpButton variant="tertiary" class="card__button">
            Read story <SlpIcon name="chevron-lg-right" variant="product" />
          </SlpButton>
        </SlpCard100>
      </SlpColumn>
    </SlpRow>
    <SlpRow v-if="hasMore" class="slp-justify-content-center">
      <SlpColumn :cols="12">
        <SlpButton
          variant="secondary"
          class="slp-mt-32 slp-mb-24"
          @click.native="numberOfSelectedItems += 9"
        >
          Load more
          <SlpIcon class="slp-ml-8" name="plus" variant="product" />
        </SlpButton>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.dropdowns {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 28px;
  margin-bottom: $spacing-48;

  @media (max-width: $breakpoint-lg) {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: $spacing-24;
  }

  .dropdown-container {
    width: 33%;
    & > .dropdown {
      min-width: 306px;
    }

    @media (max-width: $breakpoint-lg) {
      min-width: 100%;
      margin-bottom: $spacing-16;
    }
  }
}

.card {
  max-width: unset;
  padding: 0px 16px 16px;

  &:hover {
    .card__button {
      text-decoration: underline;

      .slp-icon {
        transform: translateX(8px);
      }
    }
  }
}
</style>
