<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    sponsors: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {};
  },
  methods: {},
});
</script>

<template>
  <SlpContainer class="sponsor">
    <SlpRow>
      <SlpColumn>
        <SlpTypography variant="heading2-bold" tag="h2" class="header"
          >Sponsors</SlpTypography
        >
      </SlpColumn>
      <SlpColumn class="d-flex">
        <SlpTypography variant="heading5" tag="h2" class="header"
          >Special thank you to our sponsor!</SlpTypography
        >
        <div class="imgs-container">
          <img
            v-for="sponsor in sponsors"
            :key="sponsor.img"
            :src="sponsor.img"
            alt=""
          />
        </div>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.sponsor {
  margin: 120px auto;
  .imgs-container {
    margin-top: 50px;
    img {
      width: 180px;
    }
  }
}
</style>
