<script>
import Vue from 'vue';
import { IsMobileMixin } from '../../mixins';

export default Vue.extend({
  mixins: [IsMobileMixin],
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    const desktopColumns = this.data.desktop_columns || 5;
    const mobileColumns = this.data.mobile_columns || 3;
    return {
      desktopPartners: this.processPartnerArray(desktopColumns),
      mobilePartners: this.processPartnerArray(mobileColumns),
      currentPage: 0,
      columnsPerPage: {
        desktop: desktopColumns,
        mobile: mobileColumns,
      },
    };
  },
  computed: {
    totalPages() {
      const pageSize =
        this.data.rows_per_page *
        (this.isMobile
          ? this.columnsPerPage.mobile
          : this.columnsPerPage.desktop);
      return Math.ceil(this.data.partners.length / pageSize);
    },
    partnersArray() {
      if (this.data.paginated) {
        const pageSize =
          this.data.rows_per_page *
          (this.isMobile
            ? this.columnsPerPage.mobile
            : this.columnsPerPage.desktop);
        const pageArray = this.data.partners.slice(
          this.currentPage * pageSize,
          (this.currentPage + 1) * pageSize,
        );
        return this.fillPage(pageArray, pageSize);
      }
      return this.isMobile ? this.mobilePartners : this.desktopPartners;
    },
  },
  mounted() {
    this.processPartnerArray();
  },
  methods: {
    nextPage() {
      if (this.currentPage === this.totalPages - 1) {
        return;
      }
      this.currentPage++;
    },
    previousPage() {
      if (this.currentPage === 0) {
        return;
      }
      this.currentPage--;
    },
    selectPage(page) {
      this.currentPage = page;
    },
    fillPage(pageArray, requiredLength) {
      const emptyCellArray = Array.from(
        { length: requiredLength - pageArray.length },
        () => ({ logo: '' }),
      );
      return [...pageArray, ...emptyCellArray];
    },
    processPartnerArray(numberOfColumns) {
      // This method is used to create empty cells for the grid.
      // Having css create the empty cells results in gray blocks because of the grid background used for the inner borders of the grid.
      const currentLength = this.data.partners.length;
      const requiredLength =
        Math.ceil(currentLength / numberOfColumns) * numberOfColumns;
      const emptyCellArray = Array.from(
        { length: requiredLength - currentLength },
        () => ({ logo: '' }),
      );
      return [...this.data.partners, ...emptyCellArray];
    },
  },
});
</script>

<template>
  <SlpContainer :variant="data.purple_background ? 'light-purple-100' : ''">
    <div class="partners-grid">
      <SlpTypography
        v-if="data.header"
        variant="heading2-bold"
        tag="h2"
        class="slp-mb-16 slp-mt-96"
      >
        {{ data.header }}
      </SlpTypography>
      <SlpTypography v-if="data.subheader" variant="heading5" tag="h3">{{
        data.subheader
      }}</SlpTypography>
      <div
        class="grid-container"
        :style="{
          'grid-template-rows': data.paginated
            ? `repeat(${data.rows_per_page}, 128px)`
            : '',
          'grid-template-columns':
            width > 1025
              ? `repeat(${columnsPerPage.desktop}, 1fr)`
              : `repeat(${columnsPerPage.mobile}, 1fr)`,
        }"
      >
        <div
          v-for="partner in partnersArray"
          :key="partner.alt"
          class="grid-icon"
          :class="{ 'purple-background': data.purple_background }"
        >
          <a
            v-if="partner.logo"
            :href="partner.href"
            :data-ga-name="partner.alt"
            :data-ga-location="data.data_ga_location"
          >
            <nuxt-img
              class="grid-icon__logo"
              :src="partner.logo"
              :alt="partner.alt + ' logo'"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
    <SlpRow v-if="data.paginated && totalPages > 1" class="controls">
      <SlpButton
        variant="icon"
        aria-label="View previous page"
        @click.native="previousPage"
      >
        <SlpIcon
          name="chevron-lg-left"
          alt="Chevron Left Icon"
          variant="product"
          hex-color="#171321"
        />
      </SlpButton>
      <div class="controls__pages">
        <div
          v-for="index in totalPages"
          :key="index"
          :class="[
            currentPage === index - 1 ? 'controls__pages-control--active' : '',
            'controls__pages-control',
          ]"
          @click="selectPage(index - 1)"
        ></div>
      </div>
      <SlpButton
        variant="icon"
        aria-label="View next page"
        @click.native="nextPage"
      >
        <SlpIcon
          name="chevron-lg-right"
          alt="Chevron Right Icon"
          variant="product"
          hex-color="#171321"
        />
      </SlpButton>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.partners-grid {
  display: flex;
  flex-direction: column;
}
.grid-container {
  display: grid;
  margin-top: 40px;
  grid-auto-rows: 128px;
  background-color: $color-surface-200;
  grid-gap: 1px;
}

.grid-icon {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &.purple-background {
    background-color: $color-surface-800;
  }
  &__logo {
    max-width: 100px;
    max-height: 70px;
    @media (max-width: $breakpoint-lg) {
      transform: scale(0.9);
    }
  }
  a {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.15);
    }
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $spacing-24;

  color: #171321;

  :deep {
    svg,
    path {
      fill: #171321 !important;
      stroke: #171321 !important;
    }
  }

  &__pages {
    display: inherit;

    &-control {
      background: $color-surface-300;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin: 0 $spacing-8;
      cursor: pointer;

      &:hover {
        background: $color-accent-500;
      }

      &--active {
        background: $color-surface-700;
      }
    }
  }
}
</style>
